body {
    font-size: 17px;
    scroll-behavior: smooth;
}

a {
    @apply font-medium no-underline text-blue-600 dark:text-blue-400 hover:underline;

    &:hover {
        @apply text-blue-700;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight mb-4 mt-8 text-gray-900 dark:text-white;

    &:first-child {
        @apply mt-0;
    }
}

h1 {
    @apply font-extrabold text-5xl;
}

h2 {
    @apply font-bold text-4xl;
}

h3 {
    @apply font-bold text-3xl;
}

h4 {
    @apply font-normal text-2xl;
}

h5 {
    @apply font-normal text-xl;
}

h6 {
    @apply font-light text-lg;
}

hr {
    @apply border-b border-blue-200 my-12 rounded-full;
}

li {
    ul,
    ol {
        @apply my-0;
    }
}

ol,
ul {
    @apply my-4;
}

ol {
    @apply list-decimal;
    padding-inline-start: 0.3rem;
}

ul {
    @apply list-disc dark:text-gray-200;
}

table {
    @apply text-black dark:text-gray-200;
}

p {
    @apply my-3 text-gray-700 dark:text-gray-300;

    @screen md {
        @apply my-6;
    }
}

::selection {
    @apply bg-blue-500 text-white;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-800;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}
